<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CICategoryBlur</key>
	<dict>
		<key>CICategoryBlur</key>
		<array>
			<string>CIBoxBlur</string>
			<string>CIDiscBlur</string>
			<string>CIGaussianBlur</string>
			<string>CIMaskedVariableBlur</string>
			<string>CIMedianFilter</string>
			<string>CIMotionBlur</string>
			<string>CINoiseReduction</string>
			<string>CIZoomBlur</string>
		</array>
	</dict>
	<key>CICategoryColorAdjustment</key>
	<dict>
		<key>CICategoryColorAdjustment</key>
		<array>
			<string>CIColorClamp</string>
			<string>CIColorControls</string>
			<string>CIColorMatrix</string>
			<string>CIColorPolynomial</string>
			<string>CIExposureAdjust</string>
			<string>CIGammaAdjust</string>
			<string>CIHueAdjust</string>
			<string>CILinearToSRGBToneCurve</string>
			<string>CISRGBToneCurveToLinear</string>
			<string>CITemperatureAndTint</string>
			<string>CIToneCurve</string>
			<string>CIVibrance</string>
			<string>CIWhitePointAdjust</string>
		</array>
	</dict>
	<key>CICategoryColorEffect</key>
	<dict>
		<key>CICategoryColorEffect</key>
		<array>
			<string>CIColorCrossPolynomial</string>
			<string>CIColorCube</string>
			<string>CIColorCubeWithColorSpace</string>
			<string>CIColorInvert</string>
			<string>CIColorMap</string>
			<string>CIColorMonochrome</string>
			<string>CIColorPosterize</string>
			<string>CIFalseColor</string>
			<string>CIMaskToAlpha</string>
		</array>
	</dict>
	<key>CICategoryCompositeOperation</key>
	<dict>
		<key>CICategoryCompositeOperation</key>
		<array>
			<string>CIAdditionCompositing</string>
			<string>CIColorBlendMode</string>
			<string>CIColorBurnBlendMode</string>
			<string>CIColorDodgeBlendMode</string>
			<string>CIDarkenBlendMode</string>
			<string>CIDifferenceBlendMode</string>
			<string>CIDivideBlendMode</string>
			<string>CIExclusionBlendMode</string>
			<string>CIHardLightBlendMode</string>
		</array>
	</dict>
	<key>CICategoryDistortionEffect</key>
	<dict>
		<key>CICategoryDistortionEffect</key>
		<array>
			<string>CIBumpDistortion</string>
			<string>CIBumpDistortionLinear</string>
			<string>CICircleSplashDistortion</string>
			<string>CICircularWrap</string>
			<string>CIDroste</string>
			<string>CIDisplacementDistortion</string>
			<string>CIGlassDistortion</string>
			<string>CIGlassLozenge</string>
			<string>CIHoleDistortion</string>
		</array>
	</dict>
	<key>CICategoryGenerator</key>
	<dict>
		<key>CICategoryGenerator</key>
		<array>
			<string>CIAztecCodeGenerator</string>
			<string>CICheckerboardGenerator</string>
			<string>CICode128BarcodeGenerator</string>
			<string>CIConstantColorGenerator</string>
			<string>CILenticularHaloGenerator</string>
			<string>CIPDF417BarcodeGenerator</string>
			<string>CIQRCodeGenerator</string>
			<string>CIRandomGenerator</string>
			<string>CIStarShineGenerator</string>
			<string>CIStripesGenerator</string>
			<string>CISunbeamsGenerator</string>
		</array>
	</dict>
	<key>CICategoryGeometryAdjustment</key>
	<dict>
		<key>CICategoryGeometryAdjustment</key>
		<array>
			<string>CIAffineTransform</string>
			<string>CICrop</string>
			<string>CILanczosScaleTransform</string>
			<string>CIPerspectiveCorrection</string>
			<string>CIPerspectiveTransform</string>
			<string>CIPerspectiveTransformWithExtent</string>
			<string>CIStraightenFilter</string>
		</array>
	</dict>
	<key>CICategoryGradient</key>
	<dict>
		<key>CICategoryGradient</key>
		<array>
			<string>CIGaussianGradient</string>
			<string>CILinearGradient</string>
			<string>CIRadialGradient</string>
			<string>CISmoothLinearGradient</string>
		</array>
	</dict>
	<key>CICategoryHalftoneEffect</key>
	<dict>
		<key>CICategoryHalftoneEffect</key>
		<array>
			<string>CICircularScreen</string>
			<string>CICMYKHalftone</string>
			<string>CIDotScreen</string>
			<string>CIHatchedScreen</string>
			<string>CILineScreen</string>
		</array>
	</dict>
	<key>CICategoryReduction</key>
	<dict>
		<key>CICategoryReduction</key>
		<array>
			<string>CIAreaAverage</string>
			<string>CIAreaHistogram</string>
			<string>CIRowAverage</string>
			<string>CIColumnAverage</string>
			<string>CIHistogramDisplayFilter</string>
			<string>CIAreaMaximum</string>
			<string>CIAreaMinimum</string>
			<string>CIAreaMaximumAlpha</string>
			<string>CIAreaMinimumAlpha</string>
		</array>
	</dict>
	<key>CICategorySharpen</key>
	<dict>
		<key>CICategorySharpen</key>
		<array>
			<string>CISharpenLuminance</string>
			<string>CIUnsharpMask</string>
		</array>
	</dict>
	<key>CICategoryStylize</key>
	<dict>
		<key>CICategoryStylize</key>
		<array>
			<string>CIBlendWithAlphaMask</string>
			<string>CIBlendWithMask</string>
			<string>CIBloom</string>
			<string>CIComicEffect</string>
			<string>CIConvolution3X3</string>
			<string>CIConvolution5X5</string>
			<string>CIConvolution7X7</string>
			<string>CIConvolution9Horizontal</string>
			<string>CIConvolution9Vertical</string>
			<string>CICrystallize</string>
			<string>CIDepthOfField</string>
		</array>
	</dict>
	<key>CICategoryTileEffect</key>
	<dict>
		<key>CICategoryTileEffect</key>
		<array>
			<string>CIAffineClamp</string>
			<string>CIAffineTile</string>
			<string>CIEightfoldReflectedTile</string>
			<string>CIFourfoldReflectedTile</string>
			<string>CIFourfoldRotatedTile</string>
			<string>CIFourfoldTranslatedTile</string>
		</array>
	</dict>
	<key>CICategoryTransition</key>
	<dict>
		<key>CICategoryTransition</key>
		<array>
			<string>CIAccordionFoldTransition</string>
			<string>CIBarsSwipeTransition</string>
			<string>CICopyMachineTransition</string>
			<string>CIDisintegrateWithMaskTransition</string>
			<string>CIDissolveTransition</string>
			<string>CIFlashTransition</string>
			<string>CIModTransition</string>
			<string>CIPageCurlWithShadowTransition</string>
			<string>CIRippleTransition</string>
		</array>
	</dict>
</dict>
</plist>
